.select{
    margin: 0 auto;
    display: inline-block;
    position: relative;
}
.select.is-active .select__body{
   display: block;
}
.select__header{
    cursor: pointer;
    display: flex;
}

.select__header__current{
    margin: 0 32px 35px 0;
    color: #414042;
    padding: 18px 19px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    height: 64px;
    width: 299px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
}
.select__body{
    display: none;
    border-top: 0;
    left: 0;
    width: 299px;
    background: #FFFFFF;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: -40px;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
    border-radius: 8px;
}
.select__item{
    background: white;
    cursor: pointer;
    height: 41px;
    width: 250px;
    margin: 0 auto;
    padding: 12px 10px;
    color: #424242;
    font-size: 16px;
}
.select__item:hover{
    background: #F2F2F2;
}

@media(max-width: 1160px){
    .select__body{
        width: 351px;
    }
    .select__header__current{
        width: 351px;
        display: block;
        text-align: left;
        margin: 0 auto 37px auto;
    }

}

/*Кастомизація гугл карти*/
#popUpMap{
    width: 244px;
    height: 141px;
    background: white;
    padding: 20px 19px 0 19px;
    color: black;
    display: none;
}
#popUpMap p{
    margin-top: 5px;
    width: 175px;
}
#popUpMap h5{
    font-size: 15px;
}
#popUpMap span{
    display: block;
    margin: 5px 0;
    color: grey;
}
#popUpMap span a:hover{
    color: black;
}
#popUpMap span a{
    color: grey;
}
